/* your code here */
*{
	font-family: Arial, Helvetica, sans-serif;
}
.top{
	display:flex;
	justify-content:space-between;
	padding:30px;
}
.logo_name{
	font-size:30px;
	text-decoration:none;
}
.media-icons{
	background:#ee0e;
	padding-top:10px;
	display:flex;
	flex-wrap:wrap;
}
svg{
	margin-inline:10px;
	
}
.content{
	color:white;
	background:#000;
}
.link-boxes{
	display:flex;
	padding:15px 0 40px 0;
	flex-wrap:wrap;
}
ul{
	padding-inline:35px;
}
li{
	list-style-type:none;
	margin-top:10px;
	color:lightgrey;
	font-size:13px;
}
span{
	text-decoration:underline;
}
.list-head{
	color:white;
}
.bottom-details{
	background:#22333b;
	display:flex;
	justify-content:space-between;
	padding:0px 35px 0 30px;
	color:lightgray;
	font-size:12px;
}