/* your code here */
.top{
	display:flex;
	justify-content:space-between;
	padding:30px;
}
.logo_name{
	font-size:30px;
}
.media-icons{
	background:#ee0e;
	padding-top:10px;
}
svg{
	margin-inline:10px;
	
}
.content{
	color:white;
	background:#000;
}